.container_image {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    top: 9%;
}

.item_text {
    display: flex;
    margin: 0 auto;
    width: 90%;
}
