.popup {
    margin-top: 2%;
    margin-left: 50%;
    width: 15%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 1;
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}

.open {
    opacity: 1;
    visibility: visible;
}

.popup__body {
    width: 90%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 5%;
}

.popup__content {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    width: 100%;
}


.popup__close {
    display: flex;
    justify-content: flex-end;
}

.menu {
    margin: 5%;
}