<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/main-block.css">
    <link rel="stylesheet" href="/static/css/gallery.css">
</head>
<body>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h1>ГАЛЕРЕЯ</h1>
<div class="container-all">
<div class="container">
  <img src="https://bit.ly/2PvlS8Z" alt="">
   <span class="title">Lorem ipsum dolor</span>
  <span class="text">Morbi diam viverra mattis sociis magna, habitasse penatibus non lectus</span>
</div>
<div class="container">
  <img src="https://bit.ly/2PXNumM" alt="">
  <span class="title">Lorem ipsum dolor</span>
  <span class="text">Morbi diam viverra mattis sociis magna, habitasse penatibus non lectus</span>
</div>
<div class="container">
  <img src="https://bit.ly/2KbUszm" alt="">
   <span class="title">Lorem ipsum dolor</span>
  <span class="text">Morbi diam viverra mattis sociis magna, habitasse penatibus non lectus</span>
</div>
<div class="container">
  <img src="https://bit.ly/2FnhYul" alt="">
   <span class="title">Lorem ipsum dolor</span>
  <span class="text">Morbi diam viverra mattis sociis magna, habitasse penatibus non lectus</span>
</div>
<div class="container">
  <img src="https://bit.ly/2FznWrU" alt="">
   <span class="title">Lorem ipsum dolor</span>
  <span class="text">Morbi diam viverra mattis sociis magna, habitasse penatibus non lectus</span>
</div>
<div class="container">
  <img src="https://bit.ly/2zd3HLf" alt="">
   <span class="title">Lorem ipsum dolor</span>
  <span class="text">Morbi diam viverra mattis sociis magna, habitasse penatibus non lectus</span>
</div>
</div>
</body>
</html>