<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - simple photo gallery — week 19/52</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="/static/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="gallery">
  <div class="photo"><img src="https://source.unsplash.com/300x300"/></div>
  <div class="photo"><img src="https://source.unsplash.com/301x301"/></div>
  <div class="photo"><img src="https://source.unsplash.com/302x302"/></div>
  <div class="photo"><img src="https://source.unsplash.com/303x303"/></div>
  <div class="photo"><img src="https://source.unsplash.com/304x304"/></div>
  <div class="photo"><img src="https://source.unsplash.com/305x305"/></div>
  <div class="photo"><img src="https://source.unsplash.com/306x306"/></div>
  <div class="photo"><img src="https://source.unsplash.com/307x307"/></div>
  <div class="photo"><img src="https://source.unsplash.com/308x308"/></div>
  <div class="photo"><img src="https://source.unsplash.com/309x309"/></div>
  <div class="photo"><img src="https://source.unsplash.com/3010x3010"/></div>
  <div class="photo"><img src="https://source.unsplash.com/3011x3011"/></div>
  <div class="photo"><img src="https://source.unsplash.com/3012x3012"/></div>
  <div class="photo"><img src="https://source.unsplash.com/3013x3013"/></div>
  <div class="photo"><img src="https://source.unsplash.com/3014x3014"/></div>
  <div class="photo"><img src="https://source.unsplash.com/3015x3015"/></div>
  <div class="photo"><img src="https://source.unsplash.com/3016x3016"/></div>
  <div class="photo"><img src="https://source.unsplash.com/3017x3017"/></div>
  <div class="photo"><img src="https://source.unsplash.com/3018x3018"/></div>
  <div class="photo"><img src="https://source.unsplash.com/3019x3019"/></div>
</div>
<div class="loading">     
  <div class="loading-animation">
    <div></div>
    <div></div>
  </div><span>Please wait for the images to load.</span>
</div>
<!-- partial -->
  <script  src="/static/script.js"></script>

</body>
</html>
