<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/main-block.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/popup.css">
    <script src="/static/js/mainblock.js" defer></script>
    <script src="/static/libs/rain.js" defer></script>
    <script defer src="/static/js/popup.js"></script>
</head>

<body>
<div class="main_block">
    <div class="header">

        <div id="popup" class="popup">
            <div class="popup__body">
                <div class="popup__content">
                    <a href="#" class="menu">пейзаж</a>
                    <a href="#" class="menu">флора и фауна</a>
                    <a href="#" class="menu">города</a>
                    <a href="#" class="menu">история</a>
                    <buttun class="popup__close">X</buttun>
                </div>
            </div>
        </div>

        <div id="burger" class="burger">
            <svg class="ham2" viewBox="0 0 100 100" width="80" onclick="this.classList.toggle('active')">
                <path class="top"
                      d="m 70,33 h -40 c -6.5909,0 -7.763966,-4.501509 -7.763966,-7.511428 0,-4.721448 3.376452,-9.583771 13.876919,-9.583771 14.786182,0 11.409257,14.896182 9.596449,21.970818 -1.812808,7.074636 -15.709402,12.124381 -15.709402,12.124381"/>
                <path class="middle" d="m 30,50 h 40"/>
                <path class="bottom"
                      d="m 70,67 h -40 c -6.5909,0 -7.763966,4.501509 -7.763966,7.511428 0,4.721448 3.376452,9.583771 13.876919,9.583771 14.786182,0 11.409257,-14.896182 9.596449,-21.970818 -1.812808,-7.074636 -15.709402,-12.124381 -15.709402,-12.124381"/>
            </svg>

        </div>
    </div>


    <div class="logo" style="background-image: url('/static/img/logo.svg')"></div>
    <section class="layers">
        <div class="layers__container">
            <div class="layers__item layer-1" style="background-image: url('/static/img/layer-1.jpg')"></div>
            <div class="layers__item layer-2" style="background-image: url('/static/img/layer-2.png')"></div>
            <div class="layers__item layer-3">
                <div class="hero-content">
                    <h1>photo kareliya</h1>
                    <div class="hero-content__p">
                        all photos Kareliya
                    </div>
                </div>
            </div>
            <div class="layers__item layer-4">
                <canvas class="rain"></canvas>
            </div>
            <div class="layers__item layer-5" style="background-image: url('/static/img/layer-5.png')"></div>
            <div class="layers__item layer-6" style="background-image: url('/static/img/layer-6.png')"></div>
        </div>
    </section>

    {#    <div style="height: 100vh"></div>#}

</div>

</body>
</html>